    main {
      background-color: #e9edf3;
      min-height: 1000px;
    }

    .group_block {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 100px;
      padding-right: 100px;
      background-color: white;
    }

    .group_text {
      color: #3a547f;
      font-weight: 500;
      font-size: 30px;
      padding-left: 10px;
      padding-right: 90px;
      font-family: "Lora",serif;
      text-align: center;
    }

    table {
      height: 106px;
      border-collapse: collapse; /* Отображать только одинарные линии */
      margin-left: 10px;  
      font-family: "Lora",serif;
      font-variant: normal;
      -webkit-font-feature-settings: normal;
      font-feature-settings: normal;
      width: 95%;
    }

   
    thead {
      color: #3a547f;
      font-weight: 700;
      font-size: 30px;
      line-height: 41px;
      text-align: center;
    }
    tbody {
      font-weight: 300;
      font-size: 20px;
      line-height: 41px;
    }
    tfoot{

      font-size: 30px;
      font-weight: 400;
      color: #FFFFFF;
    }

    th,td{
      border: 1px solid black;
      width: 50%;
      background-color: #FFFFFF;
      text-align: center;
    }

    .text-input {
      margin-bottom: 20px;
      height: 35px;
      width: 40%;
      line-height: 27px;
      box-sizing: border-box;
      padding: 3px;
    }
    
    #time.text-input {
      margin-bottom: 0
    }
  
    .small-text {
      font-size: 13px;
      line-height: 15px;
    }
  
    #form .order-call-title{
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 30px;
    }
  
    .phone-label {
      max-width: inherit;
      box-sizing: border-box;
    
      display: flex;
      align-items: center;
    }
  
    #form .order-call-title{
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 30px;
    }
  
    .form {
      padding: 55px 168px 60px 110px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  
    .footer-text_container .footer-text .footer-icon:hover {
      opacity: 0.6;
      cursor: pointer;
    }
    
    .footer-text_container .footer-text .footer-icon {
      text-decoration: none;
    }
  
    .footer-text {
      font-size: 14px;
      line-height: 20px;
    }